doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		ul
			li
				a(href="/") Home
			li
				a(href="/userlist") User List
			li
				a(href="/login") Login
			li
				a(href="/newuser") Add User
			li
				a(href="/helloworld") Say hello
		block content
